# pin llvm<16 because of: https://bugreports.qt.io/browse/PYSIDE-2288
c_compiler_version:        # [osx]
  - 15                     # [osx]
cxx_compiler_version:      # [osx]
  - 15                     # [osx]
# pin libcxx to a version supported by clang 15
libcxx:                    # [osx]
  - 16                     # [osx]
# Use gcc 12 to avoid https://github.com/conda-forge/qt-main-feedstock/pull/288#issuecomment-2351568471
c_compiler_version:        # [linux]
  - 12                     # [linux]
cxx_compiler_version:      # [linux]
  - 12                     # [linux]
c_stdlib_version:          # [osx and x86_64]
  - '10.13'                # [osx and x86_64]
MACOSX_SDK_VERSION:        # [osx and x86_64]
  - '10.14'                # [osx and x86_64]
replacements:
  all_replacements:
    # These replacements avoid leakage of build time CONDA_BUILD_SYSROOT
    # into cmake configuration files
    - tag: 'qmake build metadata'
      glob_patterns:
        - '*.pri'
        - '*.prl'
      regex_re: '(?:-L|-I)?\"?([^;\s]+\/sysroot)'
      replacement_re: '$(CONDA_BUILD_SYSROOT)'
      regex_rg: '([^;\s"]+/sysroot)'
    - tag: 'CMake build metadata'
      glob_patterns:
        - '*.cmake'
      regex_re: '([^;\s"]+/sysroot)'
      replacement_re: '$ENV{CONDA_BUILD_SYSROOT}'

c_stdlib_version:   # [linux]
  - "2.17"          # [linux]
