c_compiler_version:        # [unix]
  - 13                     # [linux]
  - 18                     # [osx]
cxx_compiler_version:      # [unix]
  - 13                     # [linux]
  - 18                     # [osx]

MACOSX_SDK_VERSION:        # [osx and x86_64]
  - '10.14'                # [osx and x86_64]

replacements:
  all_replacements:
    # These replacements avoid leakage of build time CONDA_BUILD_SYSROOT
    # into cmake configuration files
    - tag: 'qmake build metadata'
      glob_patterns:
        - '*.pri'
        - '*.prl'
      regex_re: '(?:-L|-I)?\"?([^;\s]+\/sysroot)'
      replacement_re: '$(CONDA_BUILD_SYSROOT)'
      regex_rg: '([^;\s"]+/sysroot)'
    - tag: 'CMake build metadata'
      glob_patterns:
        - '*.cmake'
      regex_re: '([^;\s"]+/sysroot)'
      replacement_re: '$ENV{CONDA_BUILD_SYSROOT}'
